
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-shijian:before {
  content: "\e608";
}

.icon-zhou:before {
  content: "\e60b";
}

.icon-play:before {
  content: "\e696";
}

.icon-jijiang:before {
  content: "\e610";
}

.icon-rexing:before {
  content: "\e607";
}

.icon-paihang:before {
  content: "\e613";
}

.icon-user:before {
  content: "\e602";
}

.icon-remen:before {
  content: "\e638";
}

.icon-tv:before {
  content: "\e6bc";
}

.icon-mov:before {
  content: "\e62e";
}

.icon-mingxing:before {
  content: "\e603";
}

.icon-yanyuan:before {
  content: "\e69a";
}

.icon-zongyi:before {
  content: "\e609";
}

.icon-dongman:before {
  content: "\e612";
}

.icon-news:before {
  content: "\e604";
}

.icon-zhuanti:before {
  content: "\e66c";
}

.icon-link:before {
  content: "\e7db";
}

.icon-top:before {
  content: "\e71e";
}

.icon-erweima:before {
  content: "\e600";
}

.icon-liuyan:before {
  content: "\e665";
}

.icon-ding:before {
  content: "\e839";
}

.icon-cai:before {
  content: "\e840";
}

.icon-love:before {
  content: "\e62f";
}

.icon-remind:before {
  content: "\e633";
}

.icon-baocuo:before {
  content: "\e66e";
}

.icon-down:before {
  content: "\e629";
}

.icon-up:before {
  content: "\e71e";
}

.icon-home:before {
  content: "\e605";
}

.icon-right:before {
  content: "\e63c";
}

.icon-left:before {
  content: "\e63d";
}

.icon-pinglun:before {
  content: "\e621";
}

.icon-add:before {
  content: "\eaf3";
}

.icon-xin:before {
  content: "\e639";
}

.icon-juqing:before {
  content: "\e77a";
}

.icon-search:before {
  content: "\e623";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-nv:before {
  content: "\e694";
}

.icon-guanbi:before {
  content: "\e63a";
}

.icon-xihuan:before {
  content: "\e6af";
}


.icon-s1:before {
  content: "\e6e3";
}

.icon-s2:before {
  content: "\e6c0";
}

.icon-s3:before {
  content: "\e8ab";
}

.icon-s4:before {
  content: "\e611";
}

.icon-s5:before {
  content: "\e60c";
}

.icon-wb:before {
  content: "\e802";
}

.icon-hua:before {
  content: "\e625";
}


@font-face {
  font-family: 'iconfont';  /* project id 1611402 */
  src: url('../fonts/font_1611402_1uikunxly7p.eot');
  src: url('../fonts/font_1611402_1uikunxly7p.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font_1611402_1uikunxly7p.woff2') format('woff2'),
  url('../fonts/font_1611402_1uikunxly7p.woff') format('woff'),
  url('../fonts/font_1611402_1uikunxly7p.ttf') format('truetype'),
  url('../fonts/font_1611402_1uikunxly7p.svg#iconfont') format('svg');
}